<a href="https://colab.research.google.com/github/gdemerges/simplon_exercices/blob/master/1_TP_initiation_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initiation Python - Datasets

## Langage interprété

Python est un langage interprété, ce qui signifie qu'on peut évaluer des expressions seules en exécutant (avec le bouton "Executer" ou CTRL + ENTER) la cellule concernée

Exécutez les cellules suivantes et observez les sorties :

In [ ]:
10*6+18

In [ ]:
a = "je pense donc je suis"

In [ ]:
a

In [ ]:
print(a)

In [ ]:
b = 40

In [ ]:
b * 10 - 25

In [ ]:
liste=range(10)

In [ ]:
liste[2:4]

In [ ]:
liste[2:6:2]

In [ ]:
liste[:4]

In [ ]:
liste[::2]

In [ ]:
liste2=[x**2 for x in liste]

In [ ]:
liste3=[x**2 for x in liste if x%2==0]

In [ ]:
reponse=input("Gauche ou Droite ? ")

In [ ]:
reponse

## Challenges

Créer une liste nommée prix_de_58_maisons contenant des prix de 58 maisons

1.   Élément de liste
2.   Élément de liste

entre 125000€ et 700000€

In [ ]:
import random

prix_de_58_maisons = [random.randint(125000, 700000) for _ in range(58)]
print(prix_de_58_maisons)

A l’aide de boucles et de tests répondez aux questions suivantes :

Combien de maisons ont un prix supérieur ou égal à 300000€ ?  
Combien de maisons ont un prix compris entre 250000€ et 400000€ ?   
Combien de maisons ont un prix qui n’est pas supérieur à 600000€ ?    
Combien de maisons ont un prix inférieur à 150000€ ou supérieur à 650000€ ?

In [ ]:
nb_maisons_sup_ou_egal_300000 = 0
nb_maisons_entre_250000_400000 = 0
nb_maisons_pas_sup_600000 = 0
nb_maisons_inf_150000_ou_sup_650000 = 0

for prix in prix_de_58_maisons:
  if prix >= 300000:
    nb_maisons_sup_ou_egal_300000 += 1

  if 250000 <= prix <= 400000:
    nb_maisons_entre_250000_400000 += 1

  if prix <= 600000:
    nb_maisons_pas_sup_600000 += 1

  if prix < 150000 or prix > 650000:
    nb_maisons_inf_150000_ou_sup_650000 += 1


print("Nombre de maisons ayant un prix supérieur ou égal à 300000€ :", nb_maisons_sup_ou_egal_300000)
print("Nombre de maisons ayant un prix compris entre 250000€ et 400000€ :", nb_maisons_entre_250000_400000)
print("Nombre de maisons ayant un prix qui n'est pas supérieur à 600000€ :", nb_maisons_pas_sup_600000)
print("Nombre de maisons ayant un prix inférieur à 150000€ ou supérieur à 650000€ :", nb_maisons_inf_150000_ou_sup_650000)

Créer 4 fonctions Python permettant de calculer :
- Moyenne  
- Variance  
- Ecart-type
- Médiane

In [ ]:
import numpy as np
def calculer_moyenne(prix_maisons):
  return np.mean(prix_maisons)
moyenne = calculer_moyenne(prix_de_58_maisons)
print("Moyenne des prix des maisons :", moyenne)

In [ ]:
def calculer_variance(prix_maisons):
  return np.var(prix_maisons)
variance = calculer_variance(prix_de_58_maisons)
print("Variance des prix des maisons :", variance)

In [ ]:
def calculer_ecart_type(prix_maisons):
  return np.std(prix_maisons)
ecart_type = calculer_ecart_type(prix_de_58_maisons)
print("Écart-type des prix des maisons :", ecart_type)

In [ ]:
def calculer_mediane(prix_maisons):
  return np.median(prix_maisons)
mediane = calculer_mediane(prix_de_58_maisons)
print("Médiane des prix des maisons :", mediane)

## Import fichier

In [ ]:
from google.colab import drive
drive.mount('/content/drive')


> Import des fichiers et stockage de manière propre dans des dataframes  (3 fichiers : prima.txt, mar2012.csv, mar2012.dbf)
> Notebook respectant pep8  
> Un titre de notebook  
> sommaire interactif  
> parties en titre  
> Retour au sommaire à chaque partie

In [ ]:
import pandas as pd
prima_df = pd.read_csv('prima.txt', sep='\t')
print("Contenu du fichier primat.txt :")
print(prima_df.head())

In [ ]:
import pandas as pd
mar_df = pd.read_csv('mar2012.csv', encoding = "ISO-8859-1", skiprows= [4])
print("Contenu du fichier mar2012.csv :")
print(mar_df.head())

In [ ]:
!pip install dbfread
from dbfread import DBF
dbf = DBF('mar2012.dbf')
frame = pd.DataFrame(iter(dbf))
print(frame.head())

## Explorer une base de données

Nous allons étudier un jeu de données très simple et très connue : IRIS. Ce dataset contient les informations de 3 variétés de fleurs sur leurs longueurs et largeurs, de sépal et de pétales.  
Ce premier exercice vous permettra de manipuler les données et de bien appréhender le langage Python.  
Comme pour tous les langages, vous trouverez énormément de documentations et d'aide en ligne, n'hésitez pas à chercher et tester des choses.

1. Import des données

In [ ]:
!pip install pydataset

In [ ]:
from pydataset import data
iris = data("iris")

2. Afficher les données

In [ ]:
iris

Utiliser les fonctions head() et tail() pour afficher les 5 premières et 5 dernières lignes du dataset

In [ ]:
iris.head()

3. Quel est la taille du dataset ? Utiliser la fonction shape et interpréter le résultat

In [ ]:
iris.shape

4. Afficher toutes les colonnes du dataset

In [ ]:
iris.columns

5. Sélectionner uniquement la colonnes Sepal.Length

In [ ]:
iris[ ["Sepal.Length"] ]

6. Regarder le nombre de fleurs par variétés que contient le dataset (utiliser la fonction value_count)

In [ ]:
iris["Species"].value_counts()

7. Quelle est la largeur moyenne du sépal ?

In [ ]:
iris["Sepal.Width"].mean()

8. Quelle est la valeur maximale de longueur de pétale ?

In [ ]:
iris["Petal.Length"].max()

9. Sélectionner uniquement les données pour lesquelles la longueur du pétal est >= 5.1 et stocker le résultat dans une nouvelle variable

In [ ]:
df = iris[iris["Petal.Length"] >= 5.1]
print(df)