<a href="https://colab.research.google.com/github/gdemerges/simplon_exercices/blob/master/Functions_Exercices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercice 1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a, b):
  if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
  else:
        return max(a, b)

lesser_of_two_evens(2, 4)

2

# Exercice 2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crakers(text):
  words = text.split()
  if len(words) >= 2 and words[0][0].lower() == words[1][0].lower():
        return True
  else:
        return False

animal_crakers("test")

False

# LEVEL 1 Problems

#### OLD MACDONALD: Write a function that capitalizes the first and fourth
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(text):
  if len(text) < 4:
    return text.capitalize()
  else:
    return text[0].upper() + text[1:3] + text[3].upper() + text[4:]

old_macdonald("aha")

'Aha'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [ ]:
def master_yoda(sentence):
  words = sentence.split(' ')
  reverse_sentence = ' '.join(reversed(words))
  return reverse_sentence

master_yoda("I am home")
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
  if n >= 90 and n <= 110:
    return True
  elif n >= 190 and n <= 210:
    return True
  else:
    return False

almost_there(90)

True

# LEVEL 2 Problems

#### FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [ ]:
def has_33(list_ints):
  for i in range(len(list_ints) - 1):
    if list_ints[i]== 3 and list_ints[i+1]==3:
      return True
    return False

has_33([3, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
def paper_doll(string):
    return ''.join([i * 3 for i in string])

paper_doll("Hello")

'HHHeeellllllooo'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
def blackjack(int1, int2, int3):
  int_sum = int1 + int2 + int3
  if int_sum <= 21:
    return int_sum
  elif int_sum > 21 and 11 in [int1, int2, int3]:
    return int_sum - 10
  else:
    return 'BUST'

blackjack(12, 11, 8)

21

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(list_int):
  ordre = [0, 0, 7]
  ordre_index = 0
  for i in list_int:
    if i == ordre[ordre_index]:
      ordre_index += 1
      if ordre_index == len(ordre):
        return True
  return False

spy_game([0, 7, 7, 0, 1, 2])

False